.hidden{
  display:none;
}

#pizza-details{
  display:none;
}

#size{
  width: 150px;
}

img{
  height:44px;
  width:44px;
}

.bet2{
  display:none;
}

.dice{
  display:none;
}

.bad7{
background-color:#222222;
}

.bad6{
  background-color:#444444;
}

.bad5{
  background-color:#666666;
}

.bad4{
  background-color:#888888;
}

.bad3{
  background-color:#aaaaaa;
}

.bad2{
  background-color:#cccccc;
}

.bad1{
  background-color:#eeeeee;
}
